.navbar-brand {
  color: red !important;
}
.landing_page{
background-color: black;
}

.page-header {
  position: relative; 
}
.search-container {
  position: relative;
  top: 60%; 
  left: 40%;
  transform: translate(-50%, -50%);
  width: 100%; 
}
