<div class="landing_page">
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand text-danger" href="#">EV Station Management</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
      <ul class="navbar-nav">
        <li class="nav-item" ngbDropdown>
        <a class="nav-link" id="dropdownBasic1" ngbDropdownToggle>
          For Businesses
        </a>
        <div class="dropdown-menu" ngbDropdownMenu aria-labelledby="businessDropdown">
            <a class="dropdown-item" href="#/login">Login</a>
            <a class="dropdown-item" href="#/register">Register</a>
            <a class="dropdown-item" href="#/dashboard">Dashboard</a>
          <a class="dropdown-item" href="#/settings">Settings</a>
        </div>
      </li>
      <li class="nav-item" ngbDropdown>
        <a class="nav-link" id="dropdownBasic1" ngbDropdownToggle>
          For Drivers
        </a>
        <div class="dropdown-menu" ngbDropdownMenu aria-labelledby="driverDropdown">
            <a class="dropdown-item" href="#/login">Login</a>
            <a class="dropdown-item" href="#/register">Register</a>
            <a class="dropdown-item" href="#/dashboard">Dashboard</a>
          <a class="dropdown-item" href="#/settings">Settings</a>
        </div>
      </li>   
      </ul>
    </div>
  </nav>
<div class="page-header"  style="background-image: url('assets/img/EV_BG.jpeg'); background-size: cover; background-position: top center; min-height: 700px;" >
  <div class="container mt-5 search-container">
    <div class="row justify-content-md-center">
      <div class="col-md-6">
        <div class="input-group mb-6">
          <input type="text" class="form-control" placeholder="Enter ZIP Code" [(ngModel)]="zipCode">
     
          <div class="input-group-append">
            <button class="btn btn-outline-danger" type="button" (click)="searchStations()">Search</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
 