.container-fluid, .row, .col-md-3, .col-md-9 {
    height: 200%;
   
  }
.main-content{
  background-color:  #2f2e2e;;
}

  .custom-infowindow {
    font-family: 'Arial', sans-serif;
    color: #333;
    width: 250px;
    padding: 10px;
    background: #fff;
    border-radius: 8px;
    border: 1px solid #ccc;
    box-shadow: 0 0 5px #333;
  }
  
  .station-name {
    font-weight: bold;
    margin-bottom: 5px;
  }
  
  .station-address {
    font-size: 0.9em;
    margin-bottom: 5px;
  }
  
  .station-details {
    margin-top: 10px;
  }
  
  .charger-type {
    background-color: #0057e7;
    color: #fff;
    border-radius: 3px;
    padding: 2px 5px;
    margin-right: 10px;
  }
  
  .charger-count {
    font-weight: bold;
  }
  
  .search-bar {
    padding: 10px;
    width: 40%;
    border: 1px solid #ccc;
    border-radius: 4px;
    outline: none;
  }

  .search-button {
    padding: 10px 20px;
    background-color: #5e6062;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-left: 5px; 
  }
  

  .search-container {
  position: absolute;
  top: 10px; 
  left: 50%;
  transform: translateX(-50%);
  z-index: 10; 
  display: flex;
  align-items: center;
}

.map-legend {
  position: absolute;
  bottom: 10px;
  left: 50%;
  transform: translateX(-50%);
  background-color: rgba(255, 255, 255, 0.8); 
  padding: 10px;
  border-radius: 5px;
  z-index: 10; 
  display: flex;
  align-items: center;
  justify-content: center;
}

.legend-item {
  display: flex;
  align-items: center;
  margin-right: 15px; 
}

.legend-color {
  width: 20px;
  height: 20px;
  border-radius: 50%; 
  margin-right: 5px;
  display: inline-block;
}

.dc-fast-charging {
  background-color: #007bff; 
}

.level1--charging {
  background-color: #bfff00; 
}

.level2--charging {
  background-color: #00ff4c; 
}

.filter-button {
  position: absolute; 
  top: 10px; 
  right: 10px; 
  padding: 10px 20px;
  background-color: #3f4142; 
  color: rgb(252, 250, 250);
  border: none;
  border-radius: 4px;
  cursor: pointer;
  z-index: 10; 
  outline: none; 
}

.filter-button.active {
  background-color: #0056b3; 
}

.filter-dropdown {
  display: none; 
  position: absolute;
  top: 100%; 
  right: 10px;
  background-color: white;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  padding: 10px;
  z-index: 20; 
}

.filter-dropdown.show {
  display: block; 
}

.filter-option {
  margin-bottom: 5px;
}

.filter-option:last-child {
  margin-bottom: 0;
}

.filter-option input {
  margin-right: 5px;
}
.station-details-sidebar {
  position: absolute; 
  top: 60px;
  right: 0;
  width: 300px; 
  background: white;
  padding: 20px;
  box-shadow: -2px 0 5px rgba(0, 0, 0, 0.3);
  z-index: 100; 
  h2{
    color: rgb(127, 63, 63);
  }
}