.container-fluid, .row, .col-md-3, .col-md-9 {
    height: 100%;
  }
  
  #map {
    width: 100%;
    
  }
  
  .list-group-item {
    cursor: pointer;
    &:hover {
      background-color: #f8f9fa;
    }
  }

  #map-container {
    position: relative; /* Needed to position the search bar absolutely relative to this container */
    height: 500px; /* Set the desired height for your map container */
  }

  /* maps.component.css */
.info-window-content h3 {
    font-size: 16px;
    margin: 0 0 5px 0;
  }
  
  .info-window-content p {
    font-size: 14px;
    margin: 4px 0;
  }

  .custom-infowindow {
    font-family: 'Arial', sans-serif;
    color: #333;
    width: 250px;
    padding: 10px;
    background: #fff;
    border-radius: 8px;
    border: 1px solid #ccc;
    box-shadow: 0 0 5px #333;
  }
  
  .station-name {
    font-weight: bold;
    margin-bottom: 5px;
  }
  
  .station-address {
    font-size: 0.9em;
    margin-bottom: 5px;
  }
  
  .station-details {
    margin-top: 10px;
  }
  
  .charger-type {
    background-color: #0057e7;
    color: #fff;
    border-radius: 3px;
    padding: 2px 5px;
    margin-right: 10px;
  }
  
  .charger-count {
    font-weight: bold;
  }
  
  .search-bar {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    outline: none;
  }

  .search-button {
    padding: 10px 20px;
    background-color: #1a73e8;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-left: 5px; /* Adjust or remove if you are using flexbox for positioning */
  }
  

  .search-container {
  position: absolute;
  top: 10px; /* Adjust the value as needed */
  left: 50%;
  transform: translateX(-50%);
  z-index: 10; /* Ensure it's above the map */
  display: flex;
  align-items: center;
}

/* Add your existing styles here */

/* New legend styles */
.map-legend {
  position: absolute;
  bottom: 10px;
  left: 50%;
  transform: translateX(-50%);
  background-color: rgba(255, 255, 255, 0.8); /* Semi-transparent white background */
  padding: 10px;
  border-radius: 5px;
  z-index: 10; /* Above the map */
  display: flex;
  align-items: center;
  justify-content: center;
}

.legend-item {
  display: flex;
  align-items: center;
  margin-right: 15px; /* Space between legend items */
}

.legend-color {
  width: 20px;
  height: 20px;
  border-radius: 50%; /* Circle shape */
  margin-right: 5px;
  display: inline-block;
}

.dc-fast-charging {
  background-color: #007bff; /* Blue for fast charging, change as needed */
}

.level1--charging {
  background-color: #bfff00; /* Blue for fast charging, change as needed */
}

.level2--charging {
  background-color: #00ff4c; /* Blue for fast charging, change as needed */
}

.filter-button {
  position: absolute; /* Position relative to the parent */
  top: 10px; /* Adjust as needed */
  right: 10px; /* Adjust as needed */
  padding: 10px 20px;
  background-color: #007bff; /* Example color - Electric Blue */
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  z-index: 10; /* To ensure the button stays above other elements */
  outline: none; /* To remove focus border in some browsers */
}

/* When the filter dropdown is visible, you might want to change the style of the button */
.filter-button.active {
  background-color: #0056b3; /* A slightly darker blue to indicate active state */
}

.filter-dropdown {
  display: none; /* Hide dropdown by default */
  position: absolute;
  top: 100%; /* Position below filter button */
  right: 10px;
  background-color: white;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  padding: 10px;
  z-index: 20; /* Above other elements */
}

.filter-dropdown.show {
  display: block; /* Show dropdown when 'show' class is added */
}

.filter-option {
  margin-bottom: 5px;
}

.filter-option:last-child {
  margin-bottom: 0;
}

.filter-option input {
  margin-right: 5px;
}
