<div class="panel-header panel-header-sm">
</div>

<div class="main-content">
  <div class="row">
    <div class="col-md-12">
      <div class="card ">
        <div class="card-header ">
          Google Maps
        </div>
        <div class="card-body ">
          <div>
            <input type="text" [(ngModel)]="zipCode" placeholder="Enter Location" class="search-bar">
            <button (click)="displayLocation()" class="search-button">Search</button>
            <!-- Filter button -->
            <button class="filter-button" (click)="toggleFilter()">Filters</button>
            <!-- Dropdown menu for filters, hidden by default -->
            <div class="filter-dropdown" [class.show]="showFilters">
              <!-- Filter options -->
              <div class="filter-option">
                <input type="checkbox" id="ccs" (change)="onFilterChange($event)">
                <label for="ccs">CCS</label>
              </div>
              <div class="filter-option">
                <input type="checkbox" id="chademo" (change)="onFilterChange($event)">
                <label for="chademo">CHAdeMO</label>
              </div>
              <div class="filter-option">
                <input type="checkbox" id="level2" (change)="onFilterChange($event)">
                <label for="level2">Level 2</label>
              </div>
              <!-- Add more filter options as needed -->
            </div>
            <div id="map" style="height: 500px;"></div>
            <div class="map-legend">
              <span class="legend-item"><span class="legend-color dc-fast-charging"></span>DC Fast Charging</span>
              <span class="legend-item"><span class="legend-color level1-charging"></span>Level 1</span>
              <!-- Add more legend items as needed -->
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
