
<div class="logo" style="background-color: #272a2a !important; color:black">
    <a href="" class="simple-text logo-mini">
      <div class="logo-img">
          <img src="assets/img/EV_Logo.jpeg"/>
      </div>
    </a>
    <a href="" class="simple-text logo-normal">
        Charge EV
    </a>
</div>
<div class="sidebar-wrapper" style="background-color: #1e2020 !important; color:black">
    <ul class="nav">
        <li routerLinkActive="active" *ngFor="let menuItem of menuItems" class="{{menuItem.class}} nav-item">
            <a [routerLink]="[menuItem.path]">
                <i class="now-ui-icons {{menuItem.icon}}"></i>
                <p>{{menuItem.title}}</p>
            </a>
        </li>
    </ul>
</div>