
  #barChartSimpleGradientsNumbers {
    width: 100%;
    height: auto;
    color: #fff;
  }
  .dashboard-body{
    background-color: #000; 
    color: #fff;
  }
  
 .card { 
    background-color: rgba(74, 66, 66, 0.841);
    color: #fff;  
  }
  .white-text-row td {
    color: white;
  }