<div class="dashboard-body">
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

<div class="panel-header panel-header-lg">
    <canvas baseChart id="bigDashboardChart"
                [datasets]="lineBigDashboardChartData"
                [labels]="lineBigDashboardChartLabels"
                 [colors]="lineBigDashboardChartColors"
                [options]="lineBigDashboardChartOptions"
                [chartType]="lineBigDashboardChartType"
                (chartHover)="chartHovered($event)"
                (chartClick)="chartClicked($event)"></canvas>
</div>

<div class="main-content">
  <div class="row">
   <!-- <div class="col-lg-4">
      <div class="card card-chart">
        <div class="card-header">
          <h5 class="card-category">Global Sales</h5>
          <h4 class="card-title">Electricity Sales</h4>
          <div ngbDropdown>
            <button type="button" class="btn btn-round btn-default dropdown-toggle btn-simple btn-icon no-caret" ngbDropdownToggle>
              <i class="now-ui-icons loader_gear"></i>
            </button>
            <div ngbDropdownMenu class="dropdown-menu-right">
              <a class="dropdown-item" href="#">Action</a>
              <a class="dropdown-item" href="#">Another action</a>
              <a class="dropdown-item" href="#">Something else here</a>
              <a class="dropdown-item text-danger" href="#">Remove Data</a>
            </div>
          </div>
        </div>
        <div class="card-body">
          <div class="chart-area">
            <canvas baseChart id="lineChartExample"
                        [datasets]="lineChartData"
                        [labels]="lineChartLabels"
                        [colors]="lineChartColors"
                        [options]="lineChartOptions"
                        [chartType]="lineChartType"
                        (chartHover)="chartHovered($event)"
                        (chartClick)="chartClicked($event)"></canvas>
          </div>
        </div>
        <div class="card-footer">
          <div class="stats">
            <i class="now-ui-icons arrows-1_refresh-69"></i> Just Updated
          </div>
        </div>
      </div>
    </div>-->
    <div class="col-lg-6 col-md-16">
      <div class="card card-chart">
        <div class="card-header">
          <h5 class="card-category">Sales</h5>
          <h4 class="card-title">PIE CHART</h4>
            </div>
            <div class="card-body">
              <div class="chart-area">
                <canvas id="myPieChart"></canvas>        
                  </div>
                  <div id="myPieChartLegend" class="chart-legend">

                  </div>
                </div>
            </div>
      </div>
         
  
    <div class="col-lg-6 col-md-16">
      <div class="card card-chart">
        <div class="card-header">
          <h5 class="card-category">Charging Statistics</h5>
          <h4 class="card-title">24 Hours Performance</h4>
        </div>
        <div class="card-body">
          <div class="chart-area">
            <canvas baseChart
            [datasets]="barChartData"
            [labels]="barChartLabels"
            [options]="barChartOptions"
            [chartType]="barChartType"
            [legend]="barChartLegend"
            (chartClick)="chartClicked($event)">
            </canvas>
          </div>
        
        <div class="card-footer">
          <div class="stats">
            <i class="now-ui-icons ui-2_time-alarm"></i> Last 7 days
          </div>
        </div>
      </div>
  </div>
  <br/>
</div>
</div>

 <div class="row">
    <div class="col-md-6">
      <div class="card  card-tasks">
        <div class="card-header ">
          <h5 class="card-category">Backend development</h5>
          <h4 class="card-title">Recent Appointments</h4>
        </div>
        <div class="card-body ">
          <div class="table-full-width table-responsive">
            <table class="table">
              <tbody>
                
                <tr>
                  
                </tr>
                
              </tbody>
            </table>
          </div>
        </div>
        <div class="card-footer ">
          <hr>
          <div class="stats">
            <i class="now-ui-icons loader_refresh spin"></i> Updated 3 minutes ago
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <div class="card">
        <div class="card-header">
          <h5 class="card-category">Recent Appointments</h5>
          <h4 class="card-title"> Transactions</h4>
        </div>
        <div class="card-body">
          <div class="table-responsive">
            <table class="table">
              <thead class="text-primary">
                <tr>
                  <th>Vehicle</th>
                  <th>City</th>
                  <th class="text-right">Amount</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let vehicle of vehicles" class="white-text-row">
                  <td>{{ vehicle.name }}</td>
                  <td>{{ vehicle.city }}</td>
                  <td class="text-right">{{ vehicle.amount | currency }}</td>
                </tr>
              </tbody>
            </table>
            
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

</div>