<!DOCTYPE html>
<html>
<head>
    <title>Transactions</title>
    <style>
        table {
            border-collapse: collapse;
            width: 100%;
        }
        th, td {
            border: 1px solid black;
            padding: 8px;
            text-align: left;
        }
        th {
            background-color: #f2f2f2;
        }
    </style>
</head>
<body><!-- icons.component.html -->
  <h2>Transaction Table</h2>
  <table>
    <tr>
      <th>Transaction ID</th>
      <th>User ID</th>
      <th>EV ID</th>
      <th>Charging Station ID</th>
      <th>Start Time</th>
      <th>End Time</th>
      <th>Energy Consumed (kWh)</th>
      <th>Total Cost</th>
      <th>Payment Method</th>
      <th>Charging Type</th>
    </tr>
    <tr *ngFor="let transaction of transactions">
      <td>{{ transaction.transactionId }}</td>
      <td>{{ transaction.userId }}</td>
      <td>{{ transaction.evId }}</td>
      <td>{{ transaction.chargingStationId }}</td>
      <td>{{ transaction.startTime }}</td>
      <td>{{ transaction.endTime }}</td>
      <td>{{ transaction.energyConsumed }}</td>
      <td>{{ transaction.totalCost }}</td>
      <td>{{ transaction.paymentMethod }}</td>
      <td>{{ transaction.chargingType }}</td>
    </tr>
  </table>
  
</body>
</html>
